body {
  background-color: #0a0f14 !important;
}

header {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  height: 50px;
  color: white;
}

header .logoContainer {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logoContainer img {
  height: 40px;
  width: 40px;
  margin-right: 17px;
  margin-left: 0;
}

header .logoContainer h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}

header .logoContainer h3 span {
  color: green;
}

header nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
}

header nav .navlinks li {
  margin: 0 10px;
}

header nav .navlinks li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 50px;
}

header nav .navlinks li a.active, header nav .navlinks li a:hover {
  color: black;
  background-color: green;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

header .hamburger:focus {
  outline: none;
}

#mainSection img, #mainSection svg {
  height: 80vh;
  opacity: 0.88;
  width: 70vw !important;
  margin: auto;
}

#mainSection h3 {
  text-transform: uppercase;
  color: #068806;
  font-weight: bold;
  font-size: 1.7em;
  text-shadow: 0px 0.1px black;
}

#mainSection p {
  text-align: center;
  width: 80%;
  margin: auto;
}

#mainSection .carousel-caption {
  background-color: rgba(0, 0, 0, 0.37);
}

#mainSection .carousel-indicators {
  background-color: rgba(0, 0, 0, 0.37);
  margin-bottom: 0;
}

#about {
  text-align: center;
  margin-top: 40px;
}

#about h3 {
  font-weight: bold;
  color: green;
  margin: 10px auto;
}

#about p {
  color: whitesmoke;
  margin: 10px 30px;
  text-align: justify;
}

#contact {
  text-align: center;
  margin-top: 40px;
}

#contact h3 {
  font-weight: bold;
  color: green;
  margin: 10px auto;
}

#contact .contDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

#contact .contDetails h2 {
  text-transform: uppercase;
  font-size: large;
  margin-top: 30px;
}

footer {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer #footerLine {
  text-align: center;
  font-size: large;
  font-weight: 700;
  color: green;
}

@media screen and (max-width: 995px) {
  #navlinks {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  #navlinks li {
    margin: 10px auto;
  }
  #navlinks li a {
    position: relative;
    z-index: 10;
  }
  nav {
    width: 100%;
  }
  #navlinks.navlinks.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #hamburger {
    display: block;
    float: right;
  }
}

@media screen and (max-width: 645px) {
  #mainSection img, #mainSection svg {
    height: 40vh;
  }
  .contDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contDetails .cont {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */